.in{
    display: inline-block;
    margin-left: 30%;
    max-width: 20%;
    position: relative;
    font-family: monospace;
    font-size: small;
}

.out{
    display: inline-block;
    margin-left: 10%;
    max-width: 20%;
    position: relative;
    font-family: monospace;
    font-size: medium;
}

.container_in_out{
    height: 35%;
    position: static;
}

.title{
    text-align: center;
    position: relative;
    font-family: monospace;
    font-size: large;
}

.container_title{
    margin-top: 15%;
    position: static;
}
